.controller-container {
  width: 100vw;
  height: 120px;
  border-top: 1px solid #aaa;
}

.direction-panel {
  width: 400px;
  height: 80px;
}

.direction-buttons {
  width: 100%;
}

.arrow-keys {
  display: grid;
  grid-template-columns: repeat(3, 50px);
  grid-template-rows: repeat(3, 50px);
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.key {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccc;
  border: 1px solid #999;
  font-size: 24px;
  font-weight: bold;
}

.up {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.left {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.right {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.down {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
