.gauge-container {
  display: block;
}

.gauge-wrapper {
  display: flex;
}

.gauge-controller {
  display: flex;
}

.gauge-background {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100px;
  height: 20px;
  align-items: center;
  margin: 0px 4px;
  border: 1px solid #ddd;
}

.gauge-input,
.gauge-range {
  width: 20px;
  height: 20px;
  border: 1px solid #aaa;
}

.gauge-input > input {
  width: 100%;
  height: 100%;
  background-color: #fff;
}
